---
import Back from "../icons/back.svg?raw";

export interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<!-- <ol {...className && { class: className }}>
	<li class="details-layout">
		<details>
			<summary>
				<p class="visible-closed">About</p>
				<p class="visible-open with-icon-start"><Fragment set:html={Back} /> back</p>
			</summary>
			<div class="content overflow-scroll">
				<AboutPreview />
			</div>
		</details>
	</li>
	<li class="details-layout">
		<details>
			<summary>
				<p class="visible-closed">Browser adventures in 3D</p>
				<p class="visible-open with-icon-start"><Fragment set:html={Back} /> back</p>
			</summary>
			<div class="content overflow-scroll">
				<Browser3DPreview />
			</div>
		</details>
	</li>
	<li class="details-layout">
		<details>
			<summary>
				<p class="visible-closed">Bewegung - an animation library</p>
				<p class="visible-open with-icon-start"><Fragment set:html={Back} /> back</p>
			</summary>
			<div class="content overflow-scroll">
				<BewegungPreview />
			</div>
		</details>
	</li>
	<li class="details-layout">
		<details>
			<summary>
				<p class="visible-closed">How to connect to your database with CSS</p>
				<p class="visible-open with-icon-start"><Fragment set:html={Back} /> back</p>
			</summary>
			<div class="content overflow-scroll">
				<RickrollPreviw className="full-screen overflow-hidden" />
			</div>
		</details>
	</li>
	<li class="details-layout">
		<details>
			<summary>
				<p class="visible-closed">DINKELBERG</p>
				<p class="visible-open with-icon-start"><Fragment set:html={Back} /> back</p>
			</summary>
			<div class="content overflow-scroll">
				<DinkelbergPreview className="full-screen" />
			</div>
		</details>
	</li>
	<li class="details-layout">
		<details>
			<summary>
				<p class="visible-closed">How to fix your printer in seconds</p>
				<p class="visible-open with-icon-start"><Fragment set:html={Back} /> back</p>
			</summary>
			<div class="content overflow-scroll">
				<RickrollPreviw className="full-screen overflow-hidden" />
			</div>
		</details>
	</li>
	<li class="details-layout">
		<details>
			<summary>
				<p class="visible-closed">The intro nobody asked for</p>
				<p class="visible-open with-icon-start"><Fragment set:html={Back} /> back</p>
			</summary>
			<div class="content overflow-scroll">
				<IndexPreview />
			</div>
		</details>
	</li>
	<li class="details-layout">
		<details>
			<summary>
				<p class="visible-closed">Now</p>
				<p class="visible-open with-icon-start"><Fragment set:html={Back} /> back</p>
			</summary>
			<div class="content overflow-scroll">
				<NowPreview />
			</div>
		</details>
	</li>
</ol> -->
