---
import AboutPreview from "../content/about-preview.astro";
import BewegungPreview from "../content/bewegung-preview.astro";
import CssDatabasePreview from "../content/css-database-preview.astro";
import DinkelbergPreview from "../content/dinkelberg-preview.astro";
import FixPrinterPreview from "../content/fix-printer-preview.astro";
import IndexPreview from "../content/index-preview.astro";
import NowPreview from "../content/now-preview.astro";
import Back from "../icons/back.svg?raw";
---

<details class="menu-details screen-content-layout">
	<summary class="with-icon-start">
		<p class="visible-closed">About</p>
		<p class="visible-open with-icon-start"><Fragment set:html={Back} /> back</p>
	</summary>
	<AboutPreview />
</details>

<details class="menu-details screen-content-layout">
	<summary class="with-icon-start">
		<p class="visible-closed">Bewegung - an animation library</p>
		<p class="visible-open with-icon-start"><Fragment set:html={Back} /> back</p>
	</summary>
	<BewegungPreview />
</details>

<details class="menu-details fullscreen-content-layout">
	<summary class="with-icon-start">
		<p class="visible-closed">How to connect to your database with CSS</p>
		<p class="visible-open with-icon-start"><Fragment set:html={Back} /> back</p>
	</summary>
	<CssDatabasePreview className="full-screen overflow-hidden" />
</details>

<details class="menu-details fullscreen-content-layout">
	<summary class="with-icon-start">
		<p class="visible-closed">DINKELBERG</p>
		<p class="visible-open with-icon-start"><Fragment set:html={Back} /> back</p>
	</summary>
	<DinkelbergPreview className="full-screen" />
</details>

<details class="menu-details fullscreen-content-layout">
	<summary class="with-icon-start">
		<p class="visible-closed">How to fix your printer in seconds</p>
		<p class="visible-open with-icon-start"><Fragment set:html={Back} /> back</p>
	</summary>
	<FixPrinterPreview className="full-screen overflow-hidden" />
</details>

<details class="menu-details screen-content-layout">
	<summary class="with-icon-start">
		<p class="visible-closed">The intro nobody asked for</p>
		<p class="visible-open with-icon-start"><Fragment set:html={Back} /> back</p>
	</summary>
	<IndexPreview />
</details>

<details class="menu-details screen-content-layout">
	<summary class="with-icon-start">
		<p class="visible-closed">Now</p>
		<p class="visible-open with-icon-start"><Fragment set:html={Back} /> back</p>
	</summary>
	<NowPreview />
</details>
